.user{
    height: 70vh;
    font-family: 'Roboto', ‘Arial’, sans-serif;
    text-align: center;
    color: #F9F9F9;
    margin: 0;
    padding: 120px 16px 486px;
    position: relative;
}

.user__input{
    width: 343px;
    height: 40px;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 8px;
    padding: 0;
    margin: 0px auto 16px;
    display: block;
    opacity: 0.5;
    color: #fcf3f3;
}

.user__btn{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    width: 343px;
    height: 64px;
    margin: 0 auto;
    background: #0077BA;
    border-radius: 8px;
    color: #F9F9F9;
    border: none;
    display: block;
    text-decoration: none;
    line-height: 3;
    outline: none;
}

.user__titile{
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
    color: #F9F9F9;
}