.subcategories {
    margin: 0;
    padding: 120px 0;
}

.subcategories__item {
    font-family: 'Roboto', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    text-transform: capitalize;
    color: #F9F9F9;
    text-decoration: none;
    margin: 0;
    text-align: left;
    min-width: 327px;
    height: 100px;
    /* background-image: url(../../images/2.jpg); */
    background-size: cover;
    border-radius: 8px;
    background-position: center;
    padding: 24px 24px 0px;
    margin-bottom: 16px;
    cursor: pointer;
    display: inline-block;
    width: 75%;
}
