.header__title {
    font-family: 'Roboto', ‘Arial’, sans-serif;;
    text-align: center;
    color: #F9F9F9;
    font-size: 36px;
    line-height: 40px;
    text-align: left;
    margin: 0;
    padding: 0 0 0 32px;
} 

.header{
    background-color: rgba(18, 18, 18, 0.9);
    width: 100%;
    min-width: 320px;
    position: fixed;
    padding: 64px 16px 16px;
    z-index: 1;
    max-width: 600px;
}

.header__link{
    background-image: url(../../images/icons/arrow-left.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 71px;
    left: 9px;
    z-index: 2;
    background-color: transparent;
    border: none;
}