.user{
    height: 70vh;
    font-family: 'Roboto', ‘Arial’, sans-serif;
    text-align: center;
    color: #F9F9F9;
    margin: 0;
    padding: 120px 16px 486px;
    position: relative;
}

.petition {
    /* padding-bottom: 150px; */
    padding: 120px 16px 160px;
  }

.petition__address-button {
    background-color: #F9F9F9;
    border: 2px solid #416981;
    display: none;
    align-items: center;
    padding: 18px 18px 18px 58px;
    width: 100%;
    font-family: Roboto;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.17;
    text-transform: capitalize;
    color: #416981;
    margin-bottom: 20px;
  }

  .petition__address-button::before {
    content: '';
    background: url('../../images/petition__address-button.svg') no-repeat center center;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 16px;
  }

  .petition__address-button_visible {
    display: flex;
  }

  .petition__fieldset-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    color: #F9F9F9;
    margin: 0 0 20px;
  }

  .petition__fieldset {
    padding: 0;
    border: 0;
  }

  .petition__input-name {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    color: #1F76A8;
    margin: 0 0 4px;
  }

  .petition__input {
    background: rgba(83, 83, 83, 0.4);
    border-radius: 8px;
    padding: 8px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2;  
    border: 0;
    box-sizing: border-box;
    width: 100%;
    color: #F9F9F9;
  }
  
  .petition__input::placeholder {
    color: rgba(249, 249, 249, 0.6);
    opacity: 0.5;
  }

  .petition__label-radio {
    display: block;
    margin-bottom: 16px;
  }
  
  .petition__label-radio:last-child {
    margin-bottom: 32px;
  }

  .petition__map {
    width: 100%;
    margin-bottom: 20px;
    display: none;
  }

  .petition__map_visible {
    display: block;
  }

    
.petition__poem-text {
    padding: 8px;
    background: rgba(0, 119, 186, 0.4);
    border-radius: 8px;
    margin: 16px 0px;
    display: block;
    text-decoration: none;
    font-family: 'Roboto', ‘Arial’, sans-serif;;
    text-align: left;
    color: #F9F9F9;
    width: 95%;
    height: 100px;
  }

  .petition__poem {
    width: calc(100% - 16px); /* отступы по бокам 8px*/
    background: #1F76A8;
    border-radius: 8px;
    padding: 8px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #F9F9F9;
  }
  
  .petition__poem::before {
    content: '“';
  }
  
  .petition__poem::after {
    content: '“';
  }

  
.petition__poet {
    font-family: Roboto;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.27;
    color: #F9F9F9;
    margin: 8px 0 40px;
    text-align: right;
  }

    
.petition__radio {
  display: none;
}

  .petition__radio-name {
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2;
    color: #F9F9F9;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .petition__radio-name::before {
    content: '';
    background: url(../../images/petition__radio-disabled.svg) no-repeat center center;
    background-size: 44px 44px;
    width: 44px;
    height: 44px;
    display: block;
    margin-right: 16px;
  }
  
  .petition__radio:checked + .petition__radio-name::before {
    background-image: url(../../images/petition__radio-enabled.svg) 
  
  }

  .petition__submit{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 343px;
    height: 64px;
    bottom: 90px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #0077BA;
    border-radius: 8px;
    color: #F9F9F9;
    border: none;
    display: block;
    text-decoration: none;
    line-height: 3;
}

.petition__submit::before{
    content: '\01F7A5';
    color: #F9F9F9;
    border: 2px solid #F9F9F9;
    margin-right: 16px;
    padding: 1px 3px;
}
    
.petition__submit_disabled {
    color: rgba(249, 249, 249, 0.6);
    background: #183B4F;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8), 0px 0px 14px 6px rgba(0, 0, 0, 0.6);
    cursor: default;
  }
  
  .petition__submit_disabled::before {
    content: '\01F7A5';
    opacity: .6;
  }